@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --primary: 200 184 2;
    --muted: 122 133 188;
}

body{
    @apply font-primary;
    background-color: #F5F6FA;
    margin: 0;
    padding: 0;
    min-height: 100%;
    overflow-x: hidden;
}